*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.five{
    width: 100%;
    min-height: 100vh;
    background-image: url(circle.jpg);
    background-position: center;
    overflow: hidden;
}
.logo{
    width: 140px;
}
nav{
    padding:10px 5%;
    display: flex;
    align-items: center;
}
nav button{
    border-radius: 50%;
    background-color: peachpuff;
    height: 50px;
    width: 55px;
    border-color: palevioletred;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: purple;
}
.top{
    display:inline-block;
    list-style-type: none;
    margin: 10 px 15px;
    margin-left: auto;
    word-spacing: 50px;
    color: peachpuff;
}
.new{
    display: inline-block;
}
.yoyo{
    color: white;
    font-style: italic;
    padding:5%;
    font-size: 25px;
}
.heyy{
    text-align: center;
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.b1{
    height:50px;
    width: 100px;
    display: block;
    margin-left: 590px;
    margin-top: 10px;
    border-radius: 500%;
    background-color: pink;
    border-color: mediumslateblue;
    color: rgb(149, 135, 22);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.b2{
        height:50px;
        width: 100px;
        display: block;
        margin: auto;
        margin-top:50px;
        border-radius: 500%;
        background-color: peachpuff;
        border-color: pink;
        color: purple;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
}
.b3{
    height:50px;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    display: block;
    border-radius: 500%;
    background-color: mediumslateblue;
    border-color: yellow;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}